*{
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    /* background-color: white; */
}
#nav{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}
.container{
    height: 90vh;
    display: flex;
}
.sidebar{
    width: 15%;
    height: 100%;
}
.side_btn_container{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    border: none;
}
.side_btn{
    margin: 5px 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.main{
    width: 85%;
    height: 100%;
    display: flex;
}
.image{
    height: 500px;
    width: 500px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: white;
}
.main_text{
    font-size: 54px;
    margin-top: 5%;
    margin-left: 6%;
    width: 40%;
    display: flex;
    text-align: center;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
}




/* this is colour part */
label{
    border: none;
}
#mob{
    display: none;
}

@media(max-width:480px) {
    #nav{
        display: none;
    }
    #container{
        display: none;
    }
    #mob{
        text-align: center;
        display: block;
    }
    body{
        background-color:rgb(14, 168, 229);
    }
    
} 
